In [2]:
from ast import literal_eval

import pandas as pd

/usr/local/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/usr/local/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
df = pd.read_csv('/mnt/data/deputy_personal_info_biography.csv')

In [4]:
df.head(2)

,name,deputy_name,congressperson_id,birthday,birthplace,parents,state,career,link,parties_filiated,term
0,ABELARDO LUIZ LUPION MELLO,ABELARDO LUPION,73764,25/8/1952,"Curitiba, PR","['JOÃO FORTUNATO BULCÃO MELLO', 'LEOVEGILDA LU...",PR,"['AGROPECUARISTA', 'EMPRESÁRIO']",http://www2.camara.gov.br/deputados/pesquisa/l...,"['PRN', 'PFL', 'DEM']",50
1,ADÃO PRETTO,ADÃO PRETTO,73886,18/12/1945,"Redentora, RS","['ANGELO PRETTO', 'ANADIR BUCHANELLI PRETTO']",RS,['AGRICULTOR'],http://www2.camara.gov.br/deputados/pesquisa/l...,"['PDT', 'PT']",50

In [5]:
parties_filiated = []
for i, row in df.iterrows():
    for party in literal_eval(row['parties_filiated']):
        parties_filiated.append([row['name'], row['birthday'], row['congressperson_id'], party])

In [6]:
df_parties_filiated = pd.DataFrame(parties_filiated, columns=['name', 'birthday', 'congressperson_id', 'sigla_partido'])
df_parties_filiated.head()

                         name    birthday  congressperson_id sigla_partido
0  ABELARDO LUIZ LUPION MELLO   25/8/1952              73764           PRN
1  ABELARDO LUIZ LUPION MELLO   25/8/1952              73764           PFL
2  ABELARDO LUIZ LUPION MELLO   25/8/1952              73764           DEM
3                 ADÃO PRETTO  18/12/1945              73886           PDT
4                 ADÃO PRETTO  18/12/1945              73886            PT

In [7]:
df_parties_filiated.to_csv('/mnt/data/deputy_parties_filiation.csv', index=False)

In [23]:
import pandas as pd
import numpy as np

from itertools import product

partidos = ['P1', 'P2', 'P3', 'P4']

df = pd.DataFrame(np.zeros((len(partidos),len(partidos))), index=partidos, columns=partidos)

joins = list(product(['P2','P3'], ['P2','P3']))

for join in joins:
    df[join[0]][join[1]] += 1

In [26]:
list(product(['P2','P3'], ['P2','P3']))

[('P2', 'P2'), ('P2', 'P3'), ('P3', 'P2'), ('P3', 'P3')]

In [13]:
lista = [['P1'], ['P2','P3'], ['P3','P4']]

In [28]:
df = pd.DataFrame(np.zeros((len(partidos),len(partidos))), index=partidos, columns=partidos)
df

     P1   P2   P3   P4
P1  0.0  0.0  0.0  0.0
P2  0.0  0.0  0.0  0.0
P3  0.0  0.0  0.0  0.0
P4  0.0  0.0  0.0  0.0

In [35]:
df['P2']['P2']

0.0

In [36]:
joins = list(product(['P2','P3'], ['P2','P3']))

for join in joins:
    df[join[0]][join[1]] += 1

In [37]:
df

     P1   P2   P3   P4
P1  0.0  0.0  0.0  0.0
P2  0.0  1.0  1.0  0.0
P3  0.0  1.0  1.0  0.0
P4  0.0  0.0  0.0  0.0